<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".AndroidApp"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:localeConfig="@xml/locales_config"
            android:label="Nextshiki"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
                android:name=".AppActivity"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:launchMode="singleInstance"
                android:windowSoftInputMode="adjustResize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>