*.iml
.gradle
.kotlin
.idea
.fleet
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/composeApp/releaseWithLogger
/composeApp/release
/composeApp/debug
/composeApp/compose_metrics
nextshikiAuth.properties